*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: kalmeh;
    src: url("../fonts/kalameh/Kalameh_Bold.ttf"),

}

html,
body {
    height: 100%;
    background: rgb(0, 36, 4);
    background: linear-gradient(90deg, rgba(0, 36, 4, 1) 0%,
            rgba(40, 167, 125, 1) 0%, rgba(64, 203, 20, 1) 82%, rgba(0, 255, 115, 1) 100%);
    font-family: kalmeh;

}

.tab-content {
    height: 95vh;
}

#nav-profile {
    background-color: #ffc107 !important;
    min-height: 95vh;
}

#nav-image-gallery {
    background-color: #252525;
    min-height: 95vh;
    overflow: hidden;
}

.nav-tabs {
    background-color: #000;
    display: flex;
    justify-content: center;

    .nav-link {
        border-radius: 0 !important;
        font-size: 20px;
        color: #ffff;
    }

    .active {
        color: #495057;
        background-color: #ffc107 !important;
        border-color: transparent !important
    }
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
        color: #fff;

    }

    .card {
        min-height: 22vh;
        width: 40%;
        margin-top: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;

        .emoje-container {
            //background-color: chartreuse;
            width: 81px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;

            .far {
                font-size: 5em;
                margin: 1px;
                transform: translateY(0);
                transition: transform 0.2s;
            }
        }

        .rating-container {
            .fa-star {
                font-size: 2.5rem;
                cursor: pointer;
                color: #d3d3d3;

            }

            .fa-star.active {
                color: #ffd700;
            }
        }
    }

    .profile-container {
        width: 100%;
        height: auto;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        .main {

            .box-profile {
                width: 100%;
                height: 250px;
                border: 3px dashed rgb(12, 88, 20);
                margin: 15px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 30px;

                @media (max-width:800px) {
                    margin-top: 2.2rem;
                }

                .conter {
                    font-size: 80px !important;
                    color: #095417;

                }

                .fa {
                    font-size: 86px;
                    position: absolute;
                    top: -21%;
                    left: 39%;
                }

                .text-profile {
                    font-size: 28px;
                    font-weight: bold;
                    color: #18520c;
                }
            }
        }


    }
}
.container-images{
width: 100%;
@media (max-width:800px) {
    width: 60%;
}
}
.image-containetr {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 700ms;
   
   
    top: 171px;
    /* left: 42%; */
    left: 25em;
    @media (max-width:800px) {
        left: 2em;
    }

    figure {
        border: 1px solid #ffffff;
        width: 100%;
       

        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(calc(var(--i)*45deg)) translateZ(500px);
        @media (max-width:800px) {
            transform: rotateY(calc(var(--i)*45deg)) translateZ(260px);
        }

        img {
            width: 100%;
            
        }
    }
}

.btn-container {
    width: 100%;
    display: flex;
    
    position: absolute;
    justify-content: space-around;
    top: 68%;
    right: 0%;
}

    .btn-light {
        padding: 10px 20px;
        font-size: 20px;
        transition: all 500ms;

        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
